@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link {
  color: rgb(22, 113, 46);
  &:hover {
    color: rgb(39, 119, 151);
  }
}

.marquee {
  width: 450px;
  height: auto;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  /* padding-top: 100%; */
  -moz-animation: marquee 5s linear infinite;
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 5s linear infinite;
}

@-moz-keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
}
